In [1]:
import pandas as pd
import numpy as np

In [31]:
df1 = pd.read_csv("data/index.csv", index_col=0)
print("Original column names:")
print(df1.columns)
print(df1.shape)
df1.drop(['geometry'], axis=1, inplace=True)

old = df1.columns[1:]
oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df1.columns = ['zipcode', 'renovation_index', 'renovation_index_with_rent']

new = df1.columns[1:]
newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)


df1['zipcode'] = df1['zipcode'].astype(str)
df1.head()

Original column names:
Index(['Zip', 'renovation_index', 'renovation_index_with_rent', 'geometry'], dtype='object')
(180, 4)
['renovation_index', 'renovation_index_with_rent']
['renovation_index', 'renovation_index_with_rent']

  zipcode  renovation_index  renovation_index_with_rent
0   10025          4.770022                    5.259394
1   10023          5.238509                    5.902964
2   10002          9.586100                   10.818387
3   10467         13.927773                   15.485280
4   11226         28.565119                   34.266632

In [32]:
df2 = pd.read_csv("data/drugs.csv")
print("Original column names:")
print(df2.columns)
print(df2.shape)
df2.drop(['ZIPCODE.1'], axis=1, inplace=True)

old = df2.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df2.columns = ['zipcode', 'drug_change_abs', 'drug_change_rate']

new = df2.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df2['zipcode'] = df2['zipcode'].astype(str)
df2.head()

Original column names:
Index(['ZIPCODE', 'Absolute_Difference', 'Percentual_Difference', 'ZIPCODE.1'], dtype='object')
(248, 4)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate']

  zipcode  drug_change_abs  drug_change_rate
0      83                9          0.450000
1   10001             -121         -0.478261
2   10002               64          0.205788
3   10003             -142         -0.614719
4   10004               25          5.000000

In [33]:
df21 = pd.read_csv("data/petit_larceny.csv")
print("Original column names:")
print(df21.columns)
print(df21.shape)
df21.drop(['ZIPCODE.1'], axis=1, inplace=True)

old = df21.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df21.columns = ['zipcode', 'petit_larceny_change_abs', 'petit_larceny_change_rate']

new = df21.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df21['zipcode'] = df21['zipcode'].astype(str)
df21.head()

Original column names:
Index(['ZIPCODE', 'Absolute_Difference', 'Percentual_Difference', 'ZIPCODE.1'], dtype='object')
(248, 4)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate', 'petit_larceny_change_abs', 'petit_larceny_change_rate']

  zipcode  petit_larceny_change_abs  petit_larceny_change_rate
0      83                       -36                  -0.260870
1   10001                     -1373                  -0.402994
2   10002                        23                   0.027545
3   10003                      -329                  -0.178030
4   10004                        71                   0.572581

In [34]:
df22 = pd.read_csv("data/robbery.csv")
print("Original column names:")
print(df22.columns)
print(df22.shape)
df22.drop(['ZIPCODE.1'], axis=1, inplace=True)

old = df22.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df22.columns = ['zipcode', 'robbery_change_abs', 'robbery_change_rate']

new = df22.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df22['zipcode'] = df22['zipcode'].astype(str)
df22.head()

Original column names:
Index(['ZIPCODE', 'Absolute_Difference', 'Percentual_Difference', 'ZIPCODE.1'], dtype='object')
(248, 4)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate', 'petit_larceny_change_abs', 'petit_larceny_change_rate', 'robbery_change_abs', 'robbery_change_rate']

  zipcode  robbery_change_abs  robbery_change_rate
0      83                   7             0.538462
1   10001                 -17            -0.173469
2   10002                 -13            -0.071429
3   10003                 -13            -0.134021
4   10004                   6             1.000000

In [35]:
df3 = pd.read_csv("data/complaintFinal.csv", index_col=0)
print("Original column names:")
print(df3.columns)
print(df3.shape)

old = df3.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df3.columns = ['zipcode', 
               'SS_change_rate', 'H_change_rate', 'N_change_rate', 'T_change_rate', 'PHS_change_rate', 'VP_change_rate',
               'SS_change_pop', 'H_change_pop', 'N_change_pop', 'T_change_pop', 'PHS_change_pop', 'VP_change_pop',
               'SS_change_area', 'H_change_area', 'N_change_area', 'T_change_area', 'PHS_change_area', 'VP_change_area']

new = df3.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df3['zipcode'] = df3['zipcode'].astype(str)
df3.head()

Original column names:
Index(['zipcode', 'Streets_Sidewalks_changeRate', 'Home_changeRate',
       'Noise_changeRate', 'Transportation_changeRate',
       'Public_Health_Safety_changeRate', 'Vehicles_Parking_changeRate',
       'Streets_Sidewalks_change_pop', 'Home_change_pop', 'Noise_change_pop',
       'Transportation_change_pop', 'Public_Health_Safety_change_pop',
       'Vehicles_Parking_change_pop', 'Streets_Sidewalks_change_area',
       'Home_change_area', 'Noise_change_area', 'Transportation_change_area',
       'Public_Health_Safety_change_area', 'Vehicles_Parking_change_area'],
      dtype='object')
(231, 19)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Streets_Sidewalks_changeRate', 'Home_changeRate', 'Noise_changeRate', 'Transportation_changeRate', 'Public_Health_Safety_changeRate', 'Vehicles_Parking_changeRate', 'Streets_Sidewalks_change_pop', 'Home_change_pop', 'Noise_change_pop', 'Transportation_change_pop', 'Public_Health_Safety_change_pop', 'Vehicles_Parking_change_pop', 'Streets_Sidewalks_change_area', 'Home_change_area', 'Noise_change_area', 'Transportation_change_area', 'Public_Health_Safety_change_area', 'Vehicles_Parking_change_area']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate', 'petit_larceny_change_abs', 'petit_larceny_change_rate', 'robbery_change_abs', 'robbery_change_rate', 'SS_change_rate', 'H_change_rate', 'N_change_rate', 'T_change_rate', 'PHS_change_rate', 'VP_change_rate', 'SS_change_pop', 'H_change_pop', 'N_change_pop', 'T_change_pop', 'PHS_change_pop', 'VP_change_pop', 'SS_change_area', 'H_change_area', 'N_change_area', 'T_change_area', 'PHS_change_area', 'VP_change_area']

,zipcode,SS_change_rate,H_change_rate,N_change_rate,T_change_rate,PHS_change_rate,VP_change_rate,SS_change_pop,H_change_pop,N_change_pop,T_change_pop,PHS_change_pop,VP_change_pop,SS_change_area,H_change_area,N_change_area,T_change_area,PHS_change_area,VP_change_area
0,10001,0.086226,0.202405,0.733872,1.653846,1.223684,-0.157601,0.743765,0.540758,9.801008,1.918529,2.074689,-2.520858,0.936783,0.681092,12.344520,2.416417,2.613102,-3.175060
1,10002,0.365812,0.079400,0.890855,-0.162850,0.431624,-0.192208,1.246295,0.195314,11.143226,-0.393580,0.621118,-0.455077,3.855765,0.604259,34.474717,-1.217650,1.921604,-1.407908
2,10003,0.105930,-0.135309,0.525909,0.097826,0.619318,0.379032,0.459394,-0.342353,6.418805,0.080533,0.975339,2.102795,1.652039,-1.231145,23.082849,0.289606,3.507445,7.561923
3,10004,-0.294351,0.000000,0.348636,-0.490385,1.636364,-0.573427,-11.888432,0.000000,3.507087,-11.659808,4.115226,-18.747142,-1.918033,0.000000,0.565820,-1.881148,0.663935,-3.024591
4,10005,-0.406610,-0.146982,0.611820,-0.142857,1.666667,-0.469565,-5.099297,-0.138152,3.371161,-0.555076,0.308375,-3.330455,-19.847317,-0.537712,13.121122,-2.160448,1.200249,-12.962689

In [36]:
df4 = pd.read_csv("data/mastercardFinal.csv", index_col=0)
print("Original column names:")
print(df4.columns)
print(df4.shape)

old = df4.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df4.columns = ['zipcode', 'MasterCard_growth_rank']

new = df4.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df4['zipcode'] = df4['zipcode'].astype(str)
df4.head()

Original column names:
Index(['zipcode', 'MasterCard_growthRank'], dtype='object')
(206, 2)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Streets_Sidewalks_changeRate', 'Home_changeRate', 'Noise_changeRate', 'Transportation_changeRate', 'Public_Health_Safety_changeRate', 'Vehicles_Parking_changeRate', 'Streets_Sidewalks_change_pop', 'Home_change_pop', 'Noise_change_pop', 'Transportation_change_pop', 'Public_Health_Safety_change_pop', 'Vehicles_Parking_change_pop', 'Streets_Sidewalks_change_area', 'Home_change_area', 'Noise_change_area', 'Transportation_change_area', 'Public_Health_Safety_change_area', 'Vehicles_Parking_change_area', 'MasterCard_growthRank']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate', 'petit_larceny_change_abs', 'petit_larceny_change_rate', 'robbery_change_abs', 'robbery_change_rate', 'SS_change_rate', 'H_change_rate', 'N_change_rate', 'T_change_rate', 'PHS_change_rate', 'VP_change_rate', 'SS_change_pop', 'H_change_pop', 'N_change_pop', 'T_change_pop', 'PHS_change_pop', 'VP_change_pop', 'SS_change_area', 'H_change_area', 'N_change_area', 'T_change_area', 'PHS_change_area', 'VP_change_area', 'MasterCard_growth_rank']

  zipcode  MasterCard_growth_rank
0   11436                  524.69
1   11213                  653.06
2   11212                  551.48
3   11225                  567.26
4   11218                  468.39

In [37]:
df5 = pd.read_csv("data/privateVehicle_subway_change.csv", index_col=0)
print("Original column names:")
print(df5.columns)
print(df5.shape)

old = df5.columns[1:]
#oldlist = []
for oldone in old:
    oldlist.append(oldone)

print(oldlist)

df5.columns = ['zipcode', 'subway_change_abs', 'subway_change_rate', 'yellowTaxi_change_abs',
               'yellowTaxi_change_rate', 'privateVehicle_change_abs', 'privateVehicle_change_rate']

new = df5.columns[1:]
#newlist = []
for newone in new:
    newlist.append(newone)

print(newlist)

df5['zipcode'] = df5['zipcode'].astype(str)
df5.head()

Original column names:
Index(['ZIPCODE', 'absc_subway', 'perc_subway', 'absc_yellowTaxi',
       'perc_yellowTaxi', 'absc_privateVehicle', 'perc_privateVehicle'],
      dtype='object')
(248, 7)
['renovation_index', 'renovation_index_with_rent', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Absolute_Difference', 'Percentual_Difference', 'Streets_Sidewalks_changeRate', 'Home_changeRate', 'Noise_changeRate', 'Transportation_changeRate', 'Public_Health_Safety_changeRate', 'Vehicles_Parking_changeRate', 'Streets_Sidewalks_change_pop', 'Home_change_pop', 'Noise_change_pop', 'Transportation_change_pop', 'Public_Health_Safety_change_pop', 'Vehicles_Parking_change_pop', 'Streets_Sidewalks_change_area', 'Home_change_area', 'Noise_change_area', 'Transportation_change_area', 'Public_Health_Safety_change_area', 'Vehicles_Parking_change_area', 'MasterCard_growthRank', 'absc_subway', 'perc_subway', 'absc_yellowTaxi', 'perc_yellowTaxi', 'absc_privateVehicle', 'perc_privateVehicle']
['renovation_index', 'renovation_index_with_rent', 'drug_change_abs', 'drug_change_rate', 'petit_larceny_change_abs', 'petit_larceny_change_rate', 'robbery_change_abs', 'robbery_change_rate', 'SS_change_rate', 'H_change_rate', 'N_change_rate', 'T_change_rate', 'PHS_change_rate', 'VP_change_rate', 'SS_change_pop', 'H_change_pop', 'N_change_pop', 'T_change_pop', 'PHS_change_pop', 'VP_change_pop', 'SS_change_area', 'H_change_area', 'N_change_area', 'T_change_area', 'PHS_change_area', 'VP_change_area', 'MasterCard_growth_rank', 'subway_change_abs', 'subway_change_rate', 'yellowTaxi_change_abs', 'yellowTaxi_change_rate', 'privateVehicle_change_abs', 'privateVehicle_change_rate']

,zipcode,subway_change_abs,subway_change_rate,yellowTaxi_change_abs,yellowTaxi_change_rate,privateVehicle_change_abs,privateVehicle_change_rate
0,83,-1557128.0,-0.069547,-7.055203e+05,-0.296902,-5.727981e+05,-0.240954
1,10001,-14830573.0,-0.046014,-3.205727e+06,-0.300880,-3.204974e+06,-0.300808
2,10002,724502.0,0.013701,-1.103089e+06,-0.342067,-9.167520e+05,-0.284282
3,10003,-5790748.0,-0.024112,-3.913875e+06,-0.420332,-3.170385e+06,-0.340484
4,10004,11208240.0,0.306980,-1.517759e+05,-0.205944,-1.319110e+05,-0.178989

In [42]:
name_list = pd.DataFrame(
    {'old_name_in_sperated_file': oldlist,
     'final_name': newlist
    })
name_list

                    final_name         old_name_in_sperated_file
0             renovation_index                  renovation_index
1   renovation_index_with_rent        renovation_index_with_rent
2              drug_change_abs               Absolute_Difference
3             drug_change_rate             Percentual_Difference
4     petit_larceny_change_abs               Absolute_Difference
5    petit_larceny_change_rate             Percentual_Difference
6           robbery_change_abs               Absolute_Difference
7          robbery_change_rate             Percentual_Difference
8               SS_change_rate      Streets_Sidewalks_changeRate
9                H_change_rate                   Home_changeRate
10               N_change_rate                  Noise_changeRate
11               T_change_rate         Transportation_changeRate
12             PHS_change_rate   Public_Health_Safety_changeRate
13              VP_change_rate       Vehicles_Parking_changeRate
14               SS_change_pop      Streets_Sidewalks_change_pop
15                H_change_pop                   Home_change_pop
16                N_change_pop                  Noise_change_pop
17                T_change_pop         Transportation_change_pop
18              PHS_change_pop   Public_Health_Safety_change_pop
19               VP_change_pop       Vehicles_Parking_change_pop
20              SS_change_area     Streets_Sidewalks_change_area
21               H_change_area                  Home_change_area
22               N_change_area                 Noise_change_area
23               T_change_area        Transportation_change_area
24             PHS_change_area  Public_Health_Safety_change_area
25              VP_change_area      Vehicles_Parking_change_area
26      MasterCard_growth_rank             MasterCard_growthRank
27           subway_change_abs                       absc_subway
28          subway_change_rate                       perc_subway
29       yellowTaxi_change_abs                   absc_yellowTaxi
30      yellowTaxi_change_rate                   perc_yellowTaxi
31   privateVehicle_change_abs               absc_privateVehicle
32  privateVehicle_change_rate               perc_privateVehicle

In [43]:
name_list.to_csv("output/columnNameExplained.csv")

### Merge

In [15]:
df = pd.merge(df1, df2, on='zipcode')
df = pd.merge(df, df21, on='zipcode')
df = pd.merge(df, df22, on='zipcode')
df = pd.merge(df, df3, on='zipcode')
df = pd.merge(df, df4, on='zipcode')
df = pd.merge(df, df5, on='zipcode')
df.head()

,zipcode,renovation_index,renovation_index_with_rent,drug_change_abs,drug_change_rate,petit_larceny_change_abs,petit_larceny_change_rate,robbery_change_abs,robbery_change_rate,SS_change_rate,...,T_change_area,PHS_change_area,VP_change_area,MasterCard_growth_rank,subway_change_abs,subway_change_rate,yellowTaxi_change_abs,yellowTaxi_change_rate,privateVehicle_change_abs,privateVehicle_change_rate
0,10025,4.770022,5.259394,-50,-0.294118,278,0.282234,-22,-0.150685,0.376662,...,2.394167,8.659753,-0.509397,412.61,-2809525.0,-0.072370,-1.612303e+06,-0.425340,-1.255044e+06,-0.327568
1,10023,5.238509,5.902964,36,0.947368,210,0.216942,-10,-0.161290,0.439695,...,0.920283,0.361540,-3.188123,319.46,-3237012.0,-0.027359,-1.934142e+06,-0.299824,-1.540626e+06,-0.238821
2,10002,9.586100,10.818387,64,0.205788,23,0.027545,-13,-0.071429,0.365812,...,-1.217650,1.921604,-1.407908,635.54,724502.0,0.013701,-1.103089e+06,-0.342067,-9.167520e+05,-0.284282
3,10467,13.927773,15.485280,-28,-0.060086,104,0.134194,-21,-0.069307,0.603100,...,10.247177,2.091261,0.706702,560.02,-255435.0,-0.015637,-1.465088e+02,-0.074703,2.633631e+05,32.594680
4,11226,28.565119,34.266632,-158,-0.342733,-49,-0.052128,-116,-0.328612,0.173756,...,16.265486,4.212279,1.852388,542.67,538398.0,0.019209,-6.015455e+03,-0.418631,1.690581e+06,110.430252

In [16]:
df.shape

(179, 34)

In [17]:
df.to_csv("output/dataInnerMerge.csv")

In [18]:
df = pd.merge(df1, df2, on='zipcode', how='outer')
df = pd.merge(df, df21, on='zipcode', how='outer')
df = pd.merge(df, df22, on='zipcode', how='outer')
df = pd.merge(df, df3, on='zipcode', how='outer')
df = pd.merge(df, df4, on='zipcode', how='outer')
df = pd.merge(df, df5, on='zipcode', how='outer')
df.head()

,zipcode,renovation_index,renovation_index_with_rent,drug_change_abs,drug_change_rate,petit_larceny_change_abs,petit_larceny_change_rate,robbery_change_abs,robbery_change_rate,SS_change_rate,...,T_change_area,PHS_change_area,VP_change_area,MasterCard_growth_rank,subway_change_abs,subway_change_rate,yellowTaxi_change_abs,yellowTaxi_change_rate,privateVehicle_change_abs,privateVehicle_change_rate
0,10025,4.770022,5.259394,-50,-0.294118,278,0.282234,-22,-0.150685,0.376662,...,2.394167,8.659753,-0.509397,412.61,-2809525.0,-0.072370,-1.612303e+06,-0.425340,-1.255044e+06,-0.327568
1,10023,5.238509,5.902964,36,0.947368,210,0.216942,-10,-0.161290,0.439695,...,0.920283,0.361540,-3.188123,319.46,-3237012.0,-0.027359,-1.934142e+06,-0.299824,-1.540626e+06,-0.238821
2,10002,9.586100,10.818387,64,0.205788,23,0.027545,-13,-0.071429,0.365812,...,-1.217650,1.921604,-1.407908,635.54,724502.0,0.013701,-1.103089e+06,-0.342067,-9.167520e+05,-0.284282
3,10467,13.927773,15.485280,-28,-0.060086,104,0.134194,-21,-0.069307,0.603100,...,10.247177,2.091261,0.706702,560.02,-255435.0,-0.015637,-1.465088e+02,-0.074703,2.633631e+05,32.594680
4,11226,28.565119,34.266632,-158,-0.342733,-49,-0.052128,-116,-0.328612,0.173756,...,16.265486,4.212279,1.852388,542.67,538398.0,0.019209,-6.015455e+03,-0.418631,1.690581e+06,110.430252

In [19]:
df.shape

(248, 34)

In [20]:
df.to_csv("output/dataOuterMerge.csv")