In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

## Download FHV data

In [2]:
# df1 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-01.csv')
# df2 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-02.csv')
# df3 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-03.csv')
# df4 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-04.csv')
# df5 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-05.csv')
# df6 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-06.csv')
# df7 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-07.csv')
# df8 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-08.csv')
# df9 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-09.csv')
# df10 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-10.csv')
# df11 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-11.csv')
# df12 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-12.csv')

In [3]:
# df1 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-01.csv')
# df2 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-02.csv')
# df3 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-03.csv')
# df4 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-04.csv')
# df5 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-05.csv')
# df6 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-06.csv')
# df7 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-07.csv')
# df8 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-08.csv')
# df9 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-09.csv')
# df10 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-10.csv')
# df11 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-11.csv')
# df12 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2016-12.csv')

In [4]:
# df1 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv')
# df2 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv')
# df3 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv')
# df4 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv')
# df5 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv')
# df6 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-06.csv')
# df7 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-07.csv')
# df8 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-08.csv')
# df9 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-09.csv')
df10 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-10.csv')
df11 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-11.csv')
df12 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-12.csv')

In [5]:
df = pd.concat([df10,df11,df12])

In [6]:
df['trip'] = 1

In [7]:
# df_pick = df[['Pickup_DateTime','PUlocationID','trip']].dropna(subset=['PUlocationID'])
# df_drop = df[['Pickup_DateTime','DOlocationID','trip']].dropna(subset=['DOlocationID'])

In [8]:
# df_pick = df_pick[df_pick.PUlocationID!=0]
# df_drop = df_drop[df_drop.DOlocationID!=0]

In [9]:
df_pick = df[['Pickup_date','locationID','trip']].dropna(subset=['locationID'])
df_pick = df_pick[df_pick.locationID!=0]

In [10]:
df_pick.head()

               Pickup_date  locationID  trip
35393  2015-10-01 00:03:00       264.0     1
35394  2015-10-01 00:18:00       264.0     1
35395  2015-10-01 00:18:00       264.0     1
35396  2015-10-01 00:20:00       264.0     1
35397  2015-10-01 00:24:00       264.0     1

In [11]:
#df_drop.head()

In [12]:
df_pick.shape

(17292204, 3)

In [13]:
#df_drop.shape

In [14]:
# df_pick['month'] = df_pick['Pickup_DateTime'].apply(lambda x: int(x[5:7]))
# df_drop['month'] = df_drop['Pickup_DateTime'].apply(lambda x: int(x[5:7]))

In [15]:
df_pick['month'] = df_pick['Pickup_date'].apply(lambda x: int(x[5:7]))

In [16]:
# fhv_pick = df_pick.groupby(['month','PUlocationID']).trip.sum().unstack().T.reset_index()
# fhv_drop = df_drop.groupby(['month','DOlocationID']).trip.sum().unstack().T.reset_index()

In [17]:
fhv_pick = df_pick.groupby(['month','locationID']).trip.sum().unstack().T.reset_index()

In [18]:
fhv_pick.head()

month  locationID     10     11     12
0             1.0    626   5465   5853
1             2.0    148    169    165
2             3.0   2735   6140   6247
3             4.0  31421  29656  31108
4             5.0     78    134    229

In [19]:
#fhv_drop.head()

In [20]:
fhv_pick.columns = ['LocationID', 1510, 1511, 1512]
#fhv_drop.columns = ['LocationID', 1710, 1711, 1712]

In [36]:
fhv_pick.head()

   LocationID   1510   1511   1512
0         1.0    626   5465   5853
1         2.0    148    169    165
2         3.0   2735   6140   6247
3         4.0  31421  29656  31108
4         5.0     78    134    229

In [22]:
#fhv_drop

In [24]:
fhv_pick.to_csv('FHV_data/fhv15_pick_4.csv')
#fhv_drop.to_csv('FHV_data/fhv16_drop_2.csv')

## Merge the monthly data

In [25]:
# Read the quarterly data
df1_pick = pd.read_csv('FHV_data/fhv15_pick_1.csv')
#df1_drop = pd.read_csv('FHV_data/fhv17_drop_1.csv')
df2_pick = pd.read_csv('FHV_data/fhv15_pick_2.csv')
#df2_drop = pd.read_csv('FHV_data/fhv17_drop_2.csv')
df3_pick = pd.read_csv('FHV_data/fhv15_pick_3.csv')
#df3_drop = pd.read_csv('FHV_data/fhv17_drop_3.csv')
df4_pick = pd.read_csv('FHV_data/fhv15_pick_4.csv')
#df4_drop = pd.read_csv('FHV_data/fhv17_drop_4.csv')


del df1_pick['Unnamed: 0']
#del df1_drop['Unnamed: 0']
del df2_pick['Unnamed: 0']
#del df2_drop['Unnamed: 0']
del df3_pick['Unnamed: 0']
#del df3_drop['Unnamed: 0']
del df4_pick['Unnamed: 0']
#del df4_drop['Unnamed: 0']

In [26]:
#Merge the quarterly data together
df_pick = pd.merge(df1_pick,df2_pick,how='outer',on='LocationID')
df_pick = pd.merge(df_pick,df3_pick,how='outer',on='LocationID')
df_pick = pd.merge(df_pick,df4_pick,how='outer',on='LocationID')

# df_drop = pd.merge(df1_drop,df2_drop,how='outer',on='LocationID')
# df_drop = pd.merge(df_drop,df3_drop,how='outer',on='LocationID')
# df_drop = pd.merge(df_drop,df4_drop,how='outer',on='LocationID')

In [35]:
df_pick.head()

,LocationID,1501,1502,1503,1504,1505,1506,1507,1508,1509,...,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712
0,1.0,44.0,53.0,61.0,10.0,27.0,34.0,62.0,4752.0,403.0,...,961.0,1075.0,1018.0,2389.0,2826.0,2767.0,2669.0,2813.0,2746.0,2820.0
1,2.0,122.0,117.0,176.0,137.0,263.0,11.0,35.0,29.0,188.0,...,14.0,33.0,33.0,34.0,31.0,28.0,32.0,29.0,14.0,21.0
2,3.0,833.0,1227.0,2307.0,868.0,1167.0,996.0,1033.0,1437.0,1523.0,...,14183.0,14061.0,14941.0,14603.0,15676.0,16185.0,16011.0,17437.0,19432.0,22273.0
3,4.0,12404.0,13034.0,14055.0,15192.0,17709.0,18474.0,21359.0,26487.0,27630.0,...,57316.0,53870.0,56929.0,59098.0,63526.0,62657.0,65216.0,72416.0,68604.0,76835.0
4,5.0,8.0,2.0,8.0,10.0,18.0,20.0,7.0,33.0,37.0,...,1286.0,1295.0,1406.0,1888.0,1943.0,1950.0,1602.0,1894.0,2124.0,2422.0

In [28]:
#df_drop

In [29]:
df_pick.to_csv('FHV_data/fhv15_pick_monthly.csv')
#df_drop.to_csv('FHV_data/fhv17_drop_monthly.csv')

## Merge Monthly data

In [31]:
# df1 = pd.read_csv('FHV_data/fhv15_pick_monthly.csv')
# df2 = pd.read_csv('FHV_data/fhv16_pick_monthly.csv')
# df3 = pd.read_csv('FHV_data/fhv17_pick_monthly.csv')

# del df1['Unnamed: 0']
# del df2['Unnamed: 0']
# del df3['Unnamed: 0']

In [32]:
# df_pick = pd.merge(df1,df2,how='outer',on='LocationID')
# df_pick = pd.merge(df_pick,df3,how='outer',on='LocationID')

In [34]:
# df_pick.to_csv('FHV_data/fhv_pick_monthly.csv')

In [22]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19821305 entries, 0 to 19821304
Data columns (total 5 columns):
Dispatching_base_num    object
Pickup_DateTime         object
DropOff_datetime        object
PUlocationID            float64
DOlocationID            float64
dtypes: float64(2), object(3)
memory usage: 756.1+ MB

In [24]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13911421 entries, 0 to 13911420
Data columns (total 3 columns):
Dispatching_base_num    object
Pickup_date             object
locationID              float64
dtypes: float64(1), object(2)
memory usage: 318.4+ MB

In [15]:
df_1.head()

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2016-01-01 00:30:00         NaN
1               B00001  2016-01-01 00:30:00         NaN
2               B00001  2016-01-01 02:30:00         NaN
3               B00001  2016-01-01 07:00:00         NaN
4               B00001  2016-01-01 08:45:00         NaN